  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html, body, #root {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-image: url("/src/img/decoration/portada_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  * {
    box-sizing: border-box;
  }

  /* propio */

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 10px 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: transparent;
    transition: all 0.25s ease;
    height: 92px;
  }

  .header-scrolled {
    background: rgba(0, 0, 0, 0.85);
    padding: 20px 40px 10px 40px;
    height: 75px;
  }

  .header-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    overflow: hidden;
    float: right;
    margin-top: 5px;
  }

  .logo {
    width: auto;
    margin-right: 10px;
  }

  .header-item a {
    color: white;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: filter 0.2s;
  }

  .header-item img {
    height: 40px;
    width: auto;
    display: block;
  }

  .header-item a:hover {
    color: white;
    filter: brightness(35%);
  }

  .dropbtn {
    background: rgba(255, 255, 255, 0);
    color: white;
    font-weight: bold;
    padding: 0;
    margin-bottom: 16px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: filter 0.2s;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #515151;
    padding: 8px 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 7.5px;
    font-weight: bold;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    filter: brightness(35%);
  }

  /* generado */

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0px 1px 4px rgb(255, 255, 255));
  }
  .logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
