  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* propio */

  html, body, #root {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /*body {
    background-image: url("/src/img/decoration/portada_1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -150px;
  }*/

  * {
    box-sizing: border-box;
  }

  /* Para: Cabecera/menú de navegación superior */

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 10px 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: transparent;
    transition: all 0.25s ease;
    height: 92px;
    font-family: "Montserrat", sans-serif;
  }

  .header-scrolled {
    background: rgba(34, 28, 48, 0.95);
    padding: 20px 40px 10px 40px;
    height: 75px;
  }

  .header-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    overflow: hidden;
    float: right;
    margin-top: 5px;
  }

  .logo {
    width: auto;
    margin-right: 10px;
  }

  .header-item a {
    color: white;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: filter 0.2s;
  }

  .header-item img {
    height: 40px;
    width: auto;
    display: block;
  }

  .header-item a:hover {
    color: white;
    filter: brightness(35%);
  }

  /* Para: Selector DDL de idioma */

  .lang-ddl-btn {
    background: rgba(255, 255, 255, 0);
    color: white;
    font-weight: bold;
    padding: 0;
    margin-bottom: 16px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: filter 0.2s;
  }

  .language-ddl {
    position: relative;
    display: inline-block;
  }

  .lang-ddl-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .lang-ddl-content a {
    color: #515151;
    padding: 8px 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 7.5px;
    font-weight: bold;
  }

  .lang-ddl-content a:hover {
    background-color: #f1f1f1
  }

  .language-ddl:hover .lang-ddl-content {
    display: block;
  }

  .language-ddl:hover .lang-ddl-btn {
    filter: brightness(35%);
  }

  /* Para: Sección de la portada */

  #seccion-portada {
    padding-top: 190px;
    padding-bottom: 190px;

    background-image: linear-gradient(rgb(194, 208, 230), rgb(192, 203, 237));
    background-size: cover;
  }

  #seccion-portada a {
    display: block;
    width: fit-content;
    margin: auto;
  }

  #seccion-portada h3 {
    color: white;
    text-shadow: 2px 2px 0 #808080;
    font-size: 60px;
    font-weight: 800;
    text-align: center;

    margin: 0 0 20px 0;
    padding: 0;
  }

  #seccion-portada h6 {
    text-shadow: 2px 3px 0 #4c4c4c;
    text-align: center;
    margin-top: 0;

    font-size: 32px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    color: #b8b8b8;
  }

  #img-ia {
    display: block;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    opacity: 0.9;

    width: 40vw;
    max-width: 500px;
    height: auto;
  }

  #logo-portada {
    display: block;
    margin: auto;
    opacity: 0.9;

    width: 60vw;
    max-width: 700px;
    height: auto;
  }

  /* Para: Sección de servicios */

  #grid-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    background-color: #27273a;
    overflow: hidden;
  }

  .elem-servicios, .elem-servicios-central {
    padding: 30px 20px;
  }

  .elem-servicios,
  .elem-servicios-central {
    opacity: 0;
    transform: scale(1.2);
    transition: opacity 0.6s ease, transform 0.6s ease;
    transform-origin: center center;
  }

  /* Estado cuando ya es visible */
  .elem-visible {
    opacity: 1;
    transform: scale(1);
  }

  .elem-servicios-central {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #323243, rgba(0, 0, 0, 0));
  }

  .elem-servicios img, .elem-servicios-central img {
    max-height: 44px;
    display: inline-block;
    line-height: 1;
  }

  .elem-servicios h4, .elem-servicios-central h4 {
    font-weight: 400;
    margin: 15px 0;
    font-size: 18px;
    color: #fff;
    filter: brightness(50%);
  }

  .elem-servicios p, .elem-servicios-central p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
  }

  /* Para: Sección sobre nosotros */

  #about-us {
    background-image: linear-gradient(rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.24)), url("/src/img/decoration/sky.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    padding: 0 60px;
  }

  .about-us-container {
    padding: 50px 1%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-title {
    margin: 0;
    text-align: center;

    font-size: 32px;
    color: #3569cb;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
  }

  .section-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  .section-title::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #616261;
    bottom: 0;
    left: calc(50% - 20px);
  }

  /* Para: Tarjetas de la sección sobre nosotros */

  #about-us-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(225px, 1fr));
    gap: 40px;
    max-width: 1200px;

    margin: 0 auto;
    padding: 95px 40px 40px 40px;

    align-items: stretch;
  }

  .about-us-card {
    display: grid;
    grid-template-columns: 1fr 2fr;

    transition: 0.3s;

    height: 100%;
  }

  .about-us-card:hover {
    transform: scale(1.05);
  }

  .card-imgs:hover .card-icon, .card-imgs:hover .card-icon-container {
    background-color: white;
  }

  .card-imgs {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .card-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 3%;

    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card-icon, .card-icon-container {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 64px;
    height: 64px;

    background-color: #0062c1;
    border-radius: 50%;
    border: 4px solid #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
  }

  .card-icon {
    left: 50%;

    color: #ffac00;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 1.75rem;
    text-align: center;

    margin: 0 0 20px 0;
    line-height: 1.2;
  }

  .card-icon-container {
    width: 64px;
    height: 64px;
    position: absolute;

    transition: 0.3s;
  }

  .card-icon-img {
    width: 40px;
    height: auto;
  }

  .about-us-card h2 {
    margin-top: 8px;

    color: #000;
    text-align: left;
    font-size: 20px;
    padding: 0 20px 0 20px;
  }

  .about-us-card h2 a {
    color: #000;
    transition: 0.3s;

    font-weight: 700;
  }

  .about-us-card h2 a:hover {
    color: #3569cb;
  }

  .about-us-card p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
  }

  /* Para: sección de clientes */

  .clients-section {
    padding: 50px 1%;
  }

  .clients-container {
    width: 80%;
    margin: 0 auto;
    padding: 35px 20px 20px 20px;
  }

  .client-item {
    width: 100%;
    margin: 0 auto;
  }

  .client-item img {
    width: 100%;
    object-fit: cover;
    filter: opacity(0.6);
    transition: 0.3s;
  }

  .client-item:hover img {
    filter: opacity(1);
  }

  .section-alt {
    background-color: #f8f8f8;
  }

  /* Generado por WebStorm */

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
